.off-button {
  --smart-button--bg: var(--off-button--bg-color);
  --smart-button--bg--hover: var(--off-button--bg-color--hover)
}

.dangerous-button {
  --smart-button--bg: var(--dangerous-button--bg-color);
  --smart-button--bg--hover: var(--dangerous-button--bg-color--hover);
  --smart-button--bg--progress: var(--dangerous-button--bg-color--progress);
}

.calm-button {
  --smart-button--bg: var(--calm-button--bg-color);
  --smart-button--bg--hover: var(--calm-button--bg-color--hover);
}

.safe-button {
  --smart-button--bg: var(--safe-button--bg-color);
  --smart-button--bg--hover: var(--safe-button--bg-color--hover)
}

.calendar-widget-button {
  --awesome-button--icon--size: 50px;
  --awesome-button--icon--color: var(--calendar-widget-button--color);
  --awesome-button--icon--color--hover: var(--calendar-widget-button--color--hover);
  --awesome-button--bg: var(--calendar-widget-button--bg);
  --awesome-button--bg--hover: var(--calendar-widget-button--bg--hover);
  --awesome-button--bg--disabled: var(--calendar-widget-button--bg--disabled);
  --awesome-button--border: 1px solid var(--calendar-widget-button--border-color);
  --awesome-button--border-radius: 6px;
}

.flashcard-widget-button {
  --awesome-button--icon--size: 50px;
  --awesome-button--icon--color: var(--flashcard-widget-button--color);
  --awesome-button--icon--color--hover: var(--flashcard-widget-button--color--hover);
  --awesome-button--bg: var(--flashcard-widget-button--bg);
  --awesome-button--bg--hover: var(--flashcard-widget-button--bg--hover);
  --awesome-button--bg--disabled: var(--flashcard-widget-button--bg--disabled);
  --awesome-button--border: 1px solid var(--flashcard-widget-button--border-color);
  --awesome-button--border-radius: 6px;
}

.quiz-widget-button {
  --awesome-button--icon--size: 50px;
  --awesome-button--icon--color: var(--flashcard-widget-button--color);
  --awesome-button--icon--color--hover: var(--flashcard-widget-button--color--hover);
  --awesome-button--bg: var(--flashcard-widget-button--bg);
  --awesome-button--bg--hover: var(--flashcard-widget-button--bg--hover);
  --awesome-button--bg--disabled: var(--flashcard-widget-button--bg--disabled);
  --awesome-button--border: 1px solid var(--flashcard-widget-button--border-color);
  --awesome-button--border-radius: 6px;
}

.control-bar-button {
  --awesome-button--icon--color: var(--control-bar--button--color);
  --awesome-button--icon--color--hover: var(--control-bar--button--color--hover);
  --awesome-button--bg: var(--control-bar--button--bg);
  --awesome-button--bg--hover: var(--control-bar--button--bg--hover);
}

.outer-space-button {
  --smart-button--bg: #242124;
  --smart-button--bg--hover: #34324a;
  --smart-button--bg--disabled: transparent;
  --smart-button--padding: 10px;
  --smart-button--border-color: #4f5053;
  --smart-button--border-radius: 6px;
}

.navigation-button {
  --awesome-button--icon--size: 1.3rem;
  --awesome-button--icon--width: 40px;
  --awesome-button--icon--color: #FAF9F6;
  --awesome-button--icon--color--hover: #dad0f8;
  --awesome-button--icon--color--disabled: rgba(250, 249, 246, 0.15);
  --awesome-button--bg--hover: rgba(250, 249, 246, 0.15);
  --awesome-button--border-radius: 999px;
  --awesome-button--padding: 0px;
}
