.cancel-button {
  --smart-button--bg: var(--cancel-button--bg-color);
  --smart-button--bg--hover: var(--cancel-button--bg-color--hover)
}

.remove-button {
  --smart-button--bg: var(--remove-button--bg-color);
  --smart-button--bg--hover: var(--remove-button--bg-color--hover)
}

.update-button {
  --smart-button--bg: var(--update-button--bg-color);
  --smart-button--bg--hover: var(--update-button--bg-color--hover)
}

.create-button {
  --smart-button--bg: var(--create-button--bg-color);
  --smart-button--bg--hover: var(--create-button--bg-color--hover)
}

.auth-button {
  --smart-button--bg: var(--auth-button--bg-color);
  --smart-button--bg--hover: var(--auth-button--bg-color--hover);
}

.calendar-button {
  --smart-button--bg: var(--calendar-button--bg-color);
  --smart-button--bg--hover: var(--calendar-button--bg-color--hover);
}

.review-button {
  --smart-button--width: 120px;
}

.move-back-button {
  --smart-button--bg: var(--move-back-button--bg-color);
  --smart-button--bg--hover: var(--move-back-button--bg-color--hover);
}

.calendar-widget-button {
  --awesome-button--icon--size: 50px;
  --awesome-button--icon--color: var(--calendar-widget-button--color);
  --awesome-button--icon--color--hover: var(--calendar-widget-button--color--hover);
  --awesome-button--bg: var(--calendar-widget-button--bg);
  --awesome-button--bg--hover: var(--calendar-widget-button--bg--hover);
  --awesome-button--bg--disabled: var(--calendar-widget-button--bg--disabled);
  --awesome-button--border: 1px solid var(--calendar-widget-button--border-color);
  --awesome-button--border-radius: 6px;
}

.flashcard-widget-button {
  --awesome-button--icon--size: 50px;
  --awesome-button--icon--color: var(--flashcard-widget-button--color);
  --awesome-button--icon--color--hover: var(--flashcard-widget-button--color--hover);
  --awesome-button--bg: var(--flashcard-widget-button--bg);
  --awesome-button--bg--hover: var(--flashcard-widget-button--bg--hover);
  --awesome-button--bg--disabled: var(--flashcard-widget-button--bg--disabled);
  --awesome-button--border: 1px solid var(--flashcard-widget-button--border-color);
  --awesome-button--border-radius: 6px;
}

.control-bar-button {
  --awesome-button--icon--color: var(--control-bar--button--color);
  --awesome-button--icon--color--hover: var(--control-bar--button--color--hover);
  --awesome-button--bg: var(--control-bar--button--bg);
  --awesome-button--bg--hover: var(--control-bar--button--bg--hover);
}

.voice-recorder-play-button {
  --awesome-button--icon--size: 18px;
  --awesome-button--icon--color: rgba(87, 87, 87, 0.86);
  --awesome-button--icon--color--hover: rgba(0, 0, 0, 0.9);
  --awesome-button--icon--color--active: rgba(0, 0, 0, 0.9);
  --awesome-button--bg--hover: rgba(87, 87, 87, 0.12);
  --awesome-button--bg--active: rgba(87, 87, 87, 0.2);
  --awesome-button--border-radius: 999px;
}

.voice-recorder-mic-button {
  --awesome-button--icon--size: 18px;
  --awesome-button--icon--color: rgba(87, 87, 87, 0.86);
  --awesome-button--icon--color--hover: rgba(0, 0, 0, 0.9);
  --awesome-button--icon--color--active: rgba(0, 0, 0, 0.9);
  --awesome-button--bg--hover: rgba(87, 87, 87, 0.12);
  --awesome-button--bg--active: rgba(87, 87, 87, 0.18);
  --awesome-button--border-radius: 999px;
}

.voice-recorder-control-button {
  --awesome-button--icon--size: 18px;
  --awesome-button--icon--color: rgba(87, 87, 87, 0.86);
  --awesome-button--icon--color--hover: rgba(0, 0, 0, 0.9);
}

.outer-space-button {
  --smart-button--bg: #2d3535;
  --smart-button--bg--hover: #34324a;
  --smart-button--bg--disabled: transparent;
  --smart-button--padding: 10px;
  --smart-button--border-color: #4f5053;
  --smart-button--border-radius: 6px;
}

.navigation-button {
  --awesome-button--icon--size: 1rem;
  --awesome-button--icon--color: white;
  --awesome-button--icon--color--hover: white;
  --awesome-button--bg: black;
  --awesome-button--bg--hover: black;
  --awesome-button--border-radius: 999px;
  --awesome-button--padding: 0px;
}
