.off-button {
  --smart-button--bg: var(--off-button--bg-color);
  --smart-button--bg--hover: var(--off-button--bg-color--hover)
}

.dangerous-button {
  --smart-button--bg: var(--dangerous-button--bg-color);
  --smart-button--bg--hover: var(--dangerous-button--bg-color--hover);
  --smart-button--bg--progress: var(--dangerous-button--bg-color--progress);
}

.calm-button {
  --smart-button--bg: var(--calm-button--bg-color);
  --smart-button--bg--hover: var(--calm-button--bg-color--hover);
}

.safe-button {
  --smart-button--bg: var(--safe-button--bg-color);
  --smart-button--bg--hover: var(--safe-button--bg-color--hover)
}

.control-bar-button {
  --awesome-button--icon--color: var(--control-bar--button--color);
  --awesome-button--icon--color--hover: var(--control-bar--button--color--hover);
  --awesome-button--bg: var(--control-bar--button--bg);
  --awesome-button--bg--hover: var(--control-bar--button--bg--hover);
}

.navigation-button {
  --awesome-button--icon--size: 1.3rem;
  --awesome-button--icon--width: 40px;
  --awesome-button--icon--color: #FAF9F6;
  --awesome-button--icon--color--hover: #dad0f8;
  --awesome-button--icon--color--active: #dad0f8;
  --awesome-button--icon--color--disabled: rgba(250, 249, 246, 0.15);
  --awesome-button--bg--hover: rgba(250, 249, 246, 0.15);
  --awesome-button--border-radius: 999px;
  --awesome-button--padding: 0px;
}
