.cancel-button {
  --smart-button--bg-color: var(--cancel-button--bg-color);
  --smart-button--bg-color--hover: var(--cancel-button--bg-color--hover)
}

.remove-button {
  --smart-button--bg-color: var(--remove-button--bg-color);
  --smart-button--bg-color--hover: var(--remove-button--bg-color--hover)
}

.update-button {
  --smart-button--bg-color: var(--update-button--bg-color);
  --smart-button--bg-color--hover: var(--update-button--bg-color--hover)
}

.create-button {
  --smart-button--bg-color: var(--create-button--bg-color);
  --smart-button--bg-color--hover: var(--create-button--bg-color--hover)
}

.auth-button {
  --smart-button--bg-color: var(--auth-button--bg-color);
  --smart-button--bg-color--hover: var(--auth-button--bg-color--hover);
}

.calendar-button {
  --smart-button--bg-color: var(--calendar-button--bg-color);
  --smart-button--bg-color--hover: var(--calendar-button--bg-color--hover);
}

.review-button {
  --smart-button--width: 120px;
}

.move-back-button {
  --smart-button--bg-color: var(--move-back-button--bg-color);
  --smart-button--bg-color--hover: var(--move-back-button--bg-color--hover);
}

.calendar-panel-button {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--calendar-panel-button--border-color);
  border-radius: 6px;
  --awesome-button--font-size: 50px;
  --awesome-button--color: var(--calendar-panel-button--color);
  --awesome-button--color--hover: var(--calendar-panel-button--color--hover);
  --awesome-button--bg: var(--calendar-panel-button--bg);
  --awesome-button--bg--hover: var(--calendar-panel-button--bg--hover);
  --awesome-button--bg--disabled: var(--calendar-panel-button--bg--disabled);
  --awesome-button--border-radius: 6px;
  --awesome-button--padding: 10px;
}
