.cp-widget {
  --awesome-button--icon--size: 50px;
  --awesome-button--icon--color: var(--cp--text--color);
  --awesome-button--icon--color--hover: var(--cp--text--color--active);
  --awesome-button--icon--color--disabled: var(--cp--text--color--inactive);
  --awesome-button--bg: var(--cp--widget--color);
  --awesome-button--bg--hover: var(--cp--widget--color--active);
  --awesome-button--bg--disabled: var(--cp--widget--color--inactive);
  --awesome-button--border: 1px solid var(--cp--border-color);
  --awesome-button--border-radius: 6px;
}

.cp-text {
  color: var(--cp--text--color);
  font-weight: 600;
  font-size: 0.9rem;
  word-spacing: 0.05rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
}

.cp-text--left {
  text-align: left;
}

.cp-text--light {
  font-weight: 400;
}

.cp-text--active {
  color: var(--cp--text--color--active);
}

.cp-text--inactive {
  color: var(--cp--text--color--inactive);
}

.cp-text--sub {
  font-size: 0.7rem;
  font-weight: 400;
}

.cp-text--nowrap {
  white-space: nowrap;
}

.cp-count-box {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--cp--count-box--color);
  background: var(--cp--count-box--bg);
  border-radius: 3px;
  padding: 2px;
  width: 40px;
  text-align: center;
}

.cp-count-box--big {
  font-size: 0.9rem;
  width: 50px;
}

.outer-space-button {
  --smart-button--bg: #242124;
  --smart-button--bg--hover: #34324a;
  --smart-button--bg--disabled: transparent;
  --smart-button--padding: 10px;
  --smart-button--border-color: #4f5053;
  --smart-button--border-radius: 6px;
}
