.transition--color {
  transition: color 0.2s ease-in-out;
}

.transition--bg-color {
  transition: background-color 0.2s ease-in-out;
}

.transition--opacity {
  transition: opacity 0.2s ease-in-out
}

.transition--border-color {
  transition: border-color 0.2s ease-in-out;
}

