@import "@/assets/css/theme.css";

.page-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  max-height: calc(100vh - var(--navbar-height));
  padding: 1rem;
  box-sizing: border-box;
}

.auth-container {
  padding: clamp(1rem, 2vw, 2rem);
  width: clamp(20rem, 20vw, 40rem);
  background-color: var(--auth-form--background-color);
  border-radius: 8px;
  box-shadow: var(--auth-form--box-shadow);
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: clamp(1vh, 1.5vh, 2vh);
}

.auth-container input,
.auth-container button {
  padding: clamp(0.5rem, 0.75rem, 1.25rem);
  font-size: clamp(1rem, 1vw, 1.1rem);
}

.auth-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.auth-select-container-icon {
  flex: 1;
  font-size: 2rem;
  color: var(--icon--fa-globe--color);
}

.auth-select-container-select {
  flex: 10;
  border: var(--input--border);
  border-radius: var(--border-radius);
  background-color: var(--input-background-color);
  padding: clamp(0.5rem, 0.75rem, 1.25rem);
  font-size: clamp(1rem, 1vw, 1.1rem);
  --drop-down--border-color: var(--input_focus--border-color);
  --drop-down--hover--background-color: rgb(from var(--input_focus--border-color) r g b / 0.1);
  --drop-down_scrollbar--color: rgb(from var(--input_focus--border-color) r g b / 0.6);
  --drop-down_scrollbar_hover-collor: rgb(from var(--input_focus--border-color) r g b / 0.8);
  --drop-down--color: var(--input--color);
}

.auth-select-container-select:focus-within {
  border: var(--input_focus--border);
  outline: none;
}

.auth-alternative {
  font-family: var(--main-font-family);
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  color: var(--navigation--text--color);
}
