.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.modal-window {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  resize: horizontal;
  width: 400px;
  max-width: 90%;
  min-width: 300px;
  overflow: auto;
}

.modal-title {
  text-align: center;
  margin-bottom: 10px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form-group-line {
  display: flex;
  flex-direction: column;
}

.modal-form-group-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.modal-input {
  flex: 100;
  resize: none;
  padding: 8px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-info-message {
  color: #ccc;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.modal-error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.modal-message-container {
  display: flex;
  flex-direction: row;
  margin: 4px;
  padding: 4px 6px 4px 6px;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.modal-icon {
  flex: 1;
  font-size: 1.5em;
}

.modal-message-text {
  flex: 12;
  font-size: 0.9em;
}

.modal-info-message-container {
  border: 1px solid #5175cf;
  color: #5175cf;
}

.modal-warning-message-container {
  border: 1px solid red;
  color: red;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  min-width: 80px;
}

.modal-cancel-button {
  background-color: #bbb;
  color: white;
}

.modal-cancel-button:not(.modal-button-disabled):hover {
  background-color: #999;
}

.modal-create-button {
  background-color: #4CAF50;
  color: white;
}

.modal-create-button:not(.modal-button-disabled):hover {
  background-color: #45a049;
}

.modal-update-button {
  background-color: #2196F3;
  color: white;
}

.modal-update-button:not(.modal-button-disabled):hover {
  background-color: #1e88e5;
}

.modal-remove-button {
  background-color: #f44336;
  color: white;
}

.modal-remove-button:not(.modal-button-disabled):hover {
  background-color: #da4437;
}

.modal-button-disabled {
  background-color: #ededed;
  color: #cacaca;
  cursor: default;
}

.modal-searchable-dropdown {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: relative;
}

.modal-search-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.modal-select {
  flex: 100;
  appearance: none;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}
