.text-error {
  font-family: var(--error-text--font-family);
  font-size: clamp(0.75rem, 1.6vh, 0.9rem);
  color: var(--text--error--color);
  margin: 0;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
}
