html {
  margin: 0;
  padding: 0;
  overscroll-behavior: auto;
  overflow: auto;
  height: 100%;
  background-color: #1a1f2e;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: auto;
  overflow: auto;
  min-height: 100%;
  user-select: none;
  background-color: #1a1f2e;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button {
  font-family: var(--button--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
select,
option,
ul,
li,
div,
span,
input,
text,
textarea {
  font-family: var(--main--font-family);
}

/* Hide the default password reveal eye icon in Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}
