body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  font-family: var(--button--font-family);
}

ul,
li,
div,
span,
input,
text,
textarea {
  font-family: var(--main--font-family);
}

/* Hide the default password reveal eye icon in Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}
