@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  /* global */
  --navbar-height: 8vh;
  --border-radius: 4px;

  /* fonts */
  --main--font-family: Lato, sans-serif;
  --button--font-family: Quicksand, sans-serif;
  --error-text--font-family: Rubik, sans-serif;
  --toast--font-family: Lato, sans-serif;
  --day-streak--font-family: Nunito, sans-serif;
  --navbar--font-family: Nunito, sans-serif;

  /* pages */
  --app--bg: linear-gradient(90deg, #0a0e1a 0%, #1a1f2e 50%, #2a2f3e 100%);
  --page--bg--light: #f5f5f5;

  /* inputs */
  --input--color: #45454a;
  --input--bg-color: #f9f9f9;
  --input__placeholder-color: #b8c4d6;
  --input--border-color: #b8c4d6;
  --input--border-color--focus: #007bff;
  --input--border-color--error: #c80f0f;

  --smart-input--font-size: clamp(0.9rem, 2vh, 1rem);
  --smart-input--font-size--error: clamp(0.8rem, 2vh, 0.9rem);
  --smart-input--color: #45454a;
  --smart-input--color--error: #c80f0f;
  --smart-input--bg-color: #f9f9f9;
  --smart-input--border-color: #b8c4d6;
  --smart-input--border-color--focus: #007bff;
  --smart-input--border-color--error: #c80f0f;
  --smart-input--border-radius: var(--border-radius);
  --smart-input--placeholder--color: #b8c4d6;
  --smart-input--secret-button--color: #b8c4d6;
  --smart-input--secret-button--color--hover: #007bff;

  /* buttons */
  --button--color: white;
  --button--color--disabled: #cacaca;
  --button--bg-color--action: #007bff;
  --button--bg-color--action--focus: #0056b3;
  --button--bg-color--disabled: #ededed;

  /*--smart-button--title--color: white;*/
  /*--smart-button--title--color--hover: white;*/
  /*--smart-button--border-color: transparent;*/
  /*--smart-button--border-width: 0;*/
  /*--smart-button--border-radius: 3px;*/
  /*--smart-button--width: 100px;*/

  --smart-button--title--color--disabled: #a3a3a3;
  --smart-button--bg--disabled: #C8C8C8FF;

  --cancel-button--bg-color: #4e4e4e;
  --cancel-button--bg-color--hover: #7e7e7e;

  --remove-button--bg-color: #830000;
  --remove-button--bg-color--hover: #aa0000;

  --update-button--bg-color: #004883;
  --update-button--bg-color--hover: #0070bd;

  --create-button--bg-color: #118300;
  --create-button--bg-color--hover: #00bd10;

  --auth-button--bg-color: #0056b3;
  --auth-button--bg-color--hover: #0070e6;

  --calendar-button--bg-color: #3f0083;
  --calendar-button--bg-color--hover: #5b00bd;

  --move-back-button--bg-color: #0d124a;
  --move-back-button--bg-color--hover: #171e87;

  /* calendar */
  --calendar--weekday--color: #6b7280;
  --calendar--weekday--border-color: rgba(0, 0, 0, 0.06);
  --calendar--day--border-color: rgba(0, 0, 0, 0.06);
  --calendar--day--color: #3e3e3e;
  --calendar--day--stages--color: #000000;
  --calendar--day--seq--bg: rgba(0, 0, 0, 0.12);
  --calendar--day--checkmark--color: #19552d;
  --calendar--today-ring: #7c3aed;
  --calendar--day--empty--bg-color: rgba(142, 142, 142, 0.51);
  --calendar--day--initial--color: #e5e7eb;
  --calendar--day--initial--bg-color: rgba(205, 128, 5, 0.66);
  --calendar--day--initial--stripe-color: rgba(211, 141, 18, 0.55);
  --calendar--day--completed--color: #e5e7eb;
  --calendar--day--completed--bg-color: rgba(14, 165, 57, 0.66);
  --calendar--day--completed--stripe-color: rgba(11, 184, 49, 0.55);
  --calendar--day--in-progress--color: #e5e7eb;
  --calendar--day--in-progress--bg-color: rgba(49, 121, 205, 0.55);
  --calendar--day--in-progress--stripe-color: rgba(64, 111, 204, 0.17);
  --calendar--day--not-started--color: #5a5a5a;
  --calendar--day--not-started--bg-color: rgba(0, 79, 104, 0.1);
  --calendar--day--not-started--stripe-color: rgba(30, 93, 115, 0.04);
  --calendar--day--off--color: #e5e7eb;
  --calendar--day--off--bg-color: rgba(228, 112, 175, 0.69);
  --calendar--day--off--stripe-color: rgba(234, 112, 175, 0.51);

  /* icons */
  --fa-icon--color--globe: #007bff;

  /* text */
  --text--error--color: #c80f0f;

  /* hyper-links */
  --link--color: #474757;
  --a--color: #007bff;

  /* auth */
  --auth-container--bg-color: #f9f9f9;
  --auth-container--box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  /* secret-input */
  --secret-input__button--color: #b8c4d6;
  --secret-input__button--hover--color: #007bff;

  /* fuzzy-select */
  --fuzzy-select--drop-down--color: #45454a;
  --fuzzy-select--drop-down--border-color: #007bff;
  --fuzzy-select--drop-down--bg-color--hover: rgb(from var(--fuzzy-select--drop-down--border-color) r g b / 0.1);
  --fuzzy-select--scrollbar--color: rgb(from var(--fuzzy-select--drop-down--border-color) r g b / 0.6);
  --fuzzy-select--scrollbar--color--hover: rgb(from var(--fuzzy-select--drop-down--border-color) r g b / 0.8);

  /* toasts */

  /*--space-toast--bg: ;*/
  /*--space-toast--icon-box--color: ;*/
  /*--space-toast--icon-box--bg: ;*/
  /*--space-toast--icon-box--glow: ;*/
  /*--space-toast--title--color: ;*/
  /*--space-toast--msg--color: ;*/
  /*--space-toast--button--color: ;*/
  /*--space-toast--button--hover--color: ;*/
  /*--space-toast--button--hover--bg: ;*/
  /*--space-toast--progressbar--bg-color: ;*/
  /*--space-toast--starfield__star--color: ;*/

  --success-toast--from: #34d399;
  --success-toast--via: #6ee7b7;
  --success-toast--to: #10b981;
  --success-toast--glow: rgba(52, 211, 153, 0.3);

  --error-toast--from: #fb7185;
  --error-toast--via: #fda4af;
  --error-toast--to: #f43f5e;
  --error-toast--glow: rgba(251, 113, 133, 0.3);

  --info-toast--from: #38bdf8;
  --info-toast--via: #7dd3fc;
  --info-toast--to: #0ea5e9;
  --info-toast--glow: rgba(56, 189, 248, 0.3);

  --warning-toast--from: #fbbf24;
  --warning-toast--via: #fcd34d;
  --warning-toast--to: #f59e0b;
  --warning-toast--glow: rgba(251, 191, 36, 0.3);

  /* progress bars */

  --review-progressbar--from: #60a5fa;
  --review-progressbar--via: #3b82f6;
  --review-progressbar--to: #2563eb;
  --review-progressbar--bg-color: rgba(0, 0, 0, 0.1);

  --logout-progressbar--from: #60a5fa;
  --logout-progressbar--via: #3b82f6;
  --logout-progressbar--to: #2563eb;
  --logout-progressbar--bg-color: rgba(0, 0, 0, 0.1);

  /* space card */

  --space-card--color: #686868;
  --space-card--color--strip: #9f9f9f;
  --space-card--color--strip--hover: #686868;
  --space-card--box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  --space-card--box-shadow--hover: 0 12px 16px rgba(0, 0, 0, 0.2);
  --space-card--border-color: rgba(0, 0, 0, 0.05);
  --space-card--front--bg-color: #fdfdfd;
  --space-card--front--bg-image: linear-gradient(0deg, transparent 5px, rgba(34, 34, 34, 0.15) 5px, rgba(34, 34, 34, 0.15) 6px, transparent 5px);
  --space-card--front--bg-size: 100% 32px;
  --space-card--back--bg-color: #fdfdfd;

  /* control bar */

  --control-bar--bg-color: #32334a;
  --control-bar--title--color: #f3efef;
  --control-bar--shadow-color: rgba(0, 0, 0, 0.25);
  --control-bar--button--color: #bfbfbf;
  --control-bar--button--color--hover: #f3efef;
  --control-bar--button--bg: transparent;
  --control-bar--button--bg--hover: transparent;

  /* calendar panel */

  --calendar-widget-button--border-color: rgba(128, 128, 128, 0.62);
  --calendar-widget-button--color: rgba(13, 18, 74, 0.6);
  --calendar-widget-button--color--hover: rgba(255, 255, 255, 0.6);
  --calendar-widget-button--bg: linear-gradient(135deg, rgb(154, 170, 241) 0%, rgb(162, 133, 192) 100%);
  --calendar-widget-button--bg--hover: linear-gradient(135deg, rgb(142, 110, 189) 0%, rgb(215, 91, 209) 100%);
  --calendar-widget-button--bg--disabled: linear-gradient(135deg, #d3d3d3 0%, #a8a8a8 100%);

  /* launch button */

  --launch-button--border-color: rgba(128, 128, 128, 0.62);
  --launch-button--color: rgba(13, 18, 74, 0.6);
  --launch-button--color--hover: rgba(255, 255, 255, 0.6);
  --launch-button--color--disabled: rgba(23, 32, 66, 0.78);
  --launch-button--bg: linear-gradient(135deg, rgb(91, 91, 145) 0%, rgb(105, 83, 125) 100%);
  --launch-button--bg--hover: linear-gradient(135deg, rgb(142, 110, 189) 0%, rgb(215, 91, 209) 100%);
  --launch-button--bg--disabled: linear-gradient(135deg, rgb(121, 121, 121) 0%, rgb(64, 64, 64) 100%);

  /* flashcard panel */

  --flashcard-widget-button--border-color: rgba(128, 128, 128, 0.62);
  --flashcard-widget-button--color: rgba(13, 18, 74, 0.6);
  --flashcard-widget-button--color--hover: rgba(255, 255, 255, 0.6);
  --flashcard-widget-button--bg: linear-gradient(135deg, rgb(154, 170, 241) 0%, rgb(162, 133, 192) 100%);
  --flashcard-widget-button--bg--hover: linear-gradient(135deg, rgb(142, 110, 189) 0%, rgb(215, 91, 209) 100%);
  --flashcard-widget-button--bg--disabled: linear-gradient(135deg, #d3d3d3 0%, #a8a8a8 100%);
}
