@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  /* global */
  --navbar-height: 8vh;
  --border-radius: 4px;

  /* fonts */
  --main-font-family: 'Inter', sans-serif;
  --error-font-family: 'Montserrat', sans-serif;

  /* inputs */
  --input--color: #45454a;
  --input--bg-color: #f9f9f9;
  --input__placeholder-color: #b8c4d6;
  --input--border-color: #b8c4d6;
  --input--border-color--focus: #007bff;
  --input--border-color--error: #c80f0f;

  /* buttons */
  --button--color: white;
  --button--bg-color--action: #007bff;
  --button--bg-color--action--focus: #0056b3;

  /* icons */
  --fa-icon--color--globe: #007bff;

  /* text */
  --text--error--color: #c80f0f;

  /* hyper-links */
  --link--color: #474757;
  --a--color: #007bff;

  /* auth */
  --auth-container--bg-color: #f9f9f9;
  --auth-container--box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  /* toast */
  --toast--color: white;
  --toast--bg-color: #c80f0f;

  /* secret-input */
  --secret-input__button--color: #b8c4d6;
  --secret-input__button--hover--color: #007bff;

  /* fuzzy-select */
  --fuzzy-select__input--color: #45454a;
  --fuzzy-select__drop-down--border-color: #007bff;
  --fuzzy-select__drop-down--color: var(--fuzzy-select__input--color);
  --fuzzy-select__drop-down--hover--bg-color: rgb(from var(--fuzzy-select__drop-down--border-color) r g b / 0.1);
  --fuzzy-select__drop-down__scrollbar--color: rgb(from var(--fuzzy-select__drop-down--border-color) r g b / 0.6);
  --fuzzy-select__drop-down__scrollbar--hover--color: rgb(from var(--fuzzy-select__drop-down--border-color) r g b / 0.8);

  /* toasts & progressbars */
  --toast__progressbar--bg-color: rgba(255, 255, 255, 0.1);
  --toast__starfield__star--color: rgba(255, 255, 255, 0.9);

  --success-toast__progressbar--from: #34d399;
  --success-toast__progressbar--via: #6ee7b7;
  --success-toast__progressbar--to: #10b981;
  --success-toast-glow: rgba(52, 211, 153, .30);

  --error-toast__progressbar--from: #fb7185;
  --error-toast__progressbar--via: #fda4af;
  --error-toast__progressbar--to: #f43f5e;
  --error-toast-glow: rgba(251, 113, 133, .30);

  --info-toast__progressbar--from: #38bdf8;
  --info-toast__progressbar--via: #7dd3fc;
  --info-toast__progressbar--to: #0ea5e9;
  --info-toast-glow: rgba(56, 189, 248, .30);

  --warning-toast__progressbar--from: #fbbf24;
  --warning-toast__progressbar--via: #fcd34d;
  --warning-toast__progressbar--to: #f59e0b;
  --warning-toast-glow: rgba(251, 191, 36, .30);

  --review-progressbar--from: #60a5fa;
  --review-progressbar--via: #3b82f6;
  --review-progressbar--to: #2563eb;
  --review-progressbar--bg-color: rgba(0, 0, 0, 0.1);
}
