@import "@/assets/css/base/themes.css";

.auth-container {
  position: relative;
  width: clamp(20rem, 20vw, 40rem);
  padding: clamp(1rem, 4vh, 2rem) clamp(1rem, 2vw, 2rem);
  background-color: var(--auth-container--bg-color);
  border-radius: 8px;
  border-top: 0.5rem solid transparent;
  box-shadow: var(--auth-container--box-shadow);
  text-align: center;
  transition: border-color 0.2s ease-in-out;
}

.auth-container--error {
  border-top-color: var(--input--border-color--error);
  animation: pop-error 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes pop-error {
  50% {
    transform: scale(1.03);
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: clamp(1vh, 1.5vh, 2vh);
}

.auth-link {
  font-size: clamp(0.75rem, 2vh, 0.9rem);
  color: var(--link--color);
  margin: 0;
  padding: 0;
}

.auth-link a {
  color: var(--a--color);
  text-decoration: none;
}

.auth-link a:hover,
.auth-link a:focus {
  outline: none;
  text-decoration: underline;
}
