.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  max-height: calc(100vh - var(--navbar-height));
  padding: 0;
  margin: 0;
}

.page--x-centered {
  align-items: center;
}

.page--y-centered {
  justify-content: center;
}

.page--auto-padded {
  padding: clamp(0.5rem, 1vh, 1rem) clamp(0.5rem, 1vw, 1rem);
}
