.page {
  position: relative;
  width: 100%;
  min-height: calc(100dvh - var(--navbar-height));
  max-height: calc(100dvh - var(--navbar-height));
  padding: 0;
  margin: 0;
  overflow: auto;
}

.page--bg--light {
  background: var(--page--bg--light);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.padding-auto {
  padding: clamp(0.5rem, 1vh, 1rem) clamp(0.5rem, 1vw, 1rem);
}
